{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <main>
        <h1>{{ image.url }}</h1>

        <img src="{{ asset('/uploads/images/') }}{{ image.url }}" alt="Image" width="150">

        {{ include('image/_delete_form.html.twig') }}
    </main>
{% endblock %}
