<form method="post" action="{{ path('bien_delete', {'id': bien.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce bien?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien.id) }}">
    <button class="btn">Supprimer</button>
</form>
