{% extends 'base.html.twig' %}

{% block title %}Modifier Un Bien{% endblock %}

{% block body %}
    <h1>Modifier Un Bien</h1>

    {{ include('bien/_form.html.twig', {'button_label': 'Enregistrer les changements'}) }}

    <div class="options">
        {{ include('bien/_delete_form.html.twig') }}

        <button class="btn btn-dark"><a href="{{ path('bien_index') }}">Retour</a></button>
    </div>
{% endblock %}
