{% extends 'base.html.twig' %}

{% block title %}Ajouter Un Bien{% endblock %}

{% block body %}
    <h1>Ajouter Un Bien</h1>

    {{ include('bien/_form.html.twig') }}
    <div class="options">
        <button class="btn btn-dark"><a href="{{ path('bien_index') }}">Retour</a></button>
    </div>
{% endblock %}
