{% extends 'base.html.twig' %}

{% block title %}New Bien{% endblock %}

{% block body %}
    <h1>Ajouter Un Bien</h1>

    {{ include('bien/_form.html.twig') }}

    <a href="{{ path('bien_index') }}">Retour</a>
{% endblock %}
